<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Buffer</string>
	<key>Builder Version</key>
	<string>10600.6.3</string>
	<key>CFBundleDisplayName</key>
	<string>Buffer</string>
	<key>CFBundleIdentifier</key>
	<string>com.bufferapp.buffer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.13.9</string>
	<key>CFBundleVersion</key>
	<string>2.13.9</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>buffer.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>buffer_click</string>
				<key>Identifier</key>
				<string>buffer-toolbar-button</string>
				<key>Image</key>
				<string>Icon-small.png</string>
				<key>Label</key>
				<string>Buffer</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>data/shared/buffer-overlay.js</string>
				<string>data/safari/buffer-safari.js</string>
				<string>data/shared/buffer-install-check.js</string>
				<string>data/shared/embeds/buffer-twitter.js</string>
				<string>data/shared/embeds/buffer-hn.js</string>
				<string>data/shared/embeds/buffer-reddit.js</string>
				<string>data/shared/embeds/buffer-facebook.js</string>
				<string>data/shared/embeds/buffer-hover-button.js</string>
				<string>data/shared/embeds/buffer-quora.js</string>
				<string>data/shared/embeds/buffer-hotkey.js</string>
				<string>data/shared/embeds/buffer-tweetdeck.js</string>
				<string>data/shared/embeds/buffer-pinterest.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>data/shared/libs/jquery-2.1.1.min.js</string>
				<string>data/shared/libs/postmessage.js</string>
				<string>data/safari/buffer-safari-data-wrapper.js</string>
				<string>data/safari/buffer-safari-port-wrapper.js</string>
				<string>data/safari/buffer-safari-embed.js</string>
				<string>data/shared/libs/keymaster.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>data/shared/buffer-overlay.css</string>
			<string>data/shared/buffer-extension-detection.css</string>
			<string>data/shared/embeds/buffer-twitter.css</string>
			<string>data/shared/embeds/buffer-facebook.css</string>
			<string>data/shared/embeds/buffer-tweetdeck.css</string>
			<string>data/shared/embeds/buffer-pinterest.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Easily add great articles, pictures and videos to your Buffer and we automagically share them for you through the day!</string>
	<key>DeveloperIdentifier</key>
	<string>UYDA63C4EC</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://s3.amazonaws.com/buffer-static/extensions/safari/version.plist</string>
	<key>Website</key>
	<string>http://buffer.com</string>
</dict>
</plist>
