<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Buffer Integration</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>twitter</string>
		<key>Title</key>
		<string>Twitter</string>
		<key>TrueValue</key>
		<true/>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>tweetdeck</string>
		<key>Title</key>
		<string>Tweetdeck</string>
		<key>TrueValue</key>
		<true/>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>pinterest</string>
		<key>Title</key>
		<string>Pinterest</string>
		<key>TrueValue</key>
		<true/>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>facebook</string>
		<key>Title</key>
		<string>Facebook</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>quora</string>
		<key>Title</key>
		<string>Quora</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>reader</string>
		<key>Title</key>
		<string>Google Reader</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>reddit</string>
		<key>Title</key>
		<string>Reddit</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>hacker</string>
		<key>Title</key>
		<string>Hacker News</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>image-overlays</string>
		<key>Title</key>
		<string>"Share Image" Button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Keyboard Shortcut</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>alt+b</string>
		<key>Key</key>
		<string>key-combo</string>
		<key>Title</key>
		<string>Key Combo</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>key-enable</string>
		<key>Title</key>
		<string>Use keyboard shortcut?</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Open Buffer Extension As</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>overlay</string>
		<key>Key</key>
		<string>open-as</string>
		<key>Title</key>
		<string>Always open Buffer extension as</string>
		<key>Titles</key>
		<array>
			<string>Overlay on page</string>
			<string>New tab</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>overlay</string>
			<string>new-tab</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Please refresh any open tabs after making changes.</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
</array>
</plist>
