<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.bufferapp.buffer</string>
       <key>Developer Identifier</key>
       <string>UYDA63C4EC</string>
       <key>CFBundleVersion</key>
       <string>2.2.9</string>
       <key>CFBundleShortVersionString</key>
       <string>2.2.9</string>
       <key>URL</key>
       <string>https://s3.amazonaws.com/buffer-static/extensions/safari/buffer-2.1.6.safariextz</string>
     </dict>
   </array>
</dict>
</plist>